
@import "components/header";
@import "components/footer";
@import "components/weirdo";

@font-face { 
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-regular/proxima-nova-regular.eot'), 
       url('/fonts/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype'), 
       url('/fonts/proxima-nova-regular/proxima-nova-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-bold/proxima-nova-bold.eot'), 
       url('/fonts/proxima-nova-bold/proxima-nova-bold.ttf') format('truetype'), 
       url('/fonts/proxima-nova-bold/proxima-nova-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0 !important;
  overflow-x: hidden;
  font-size: 100% !important;
  font-family: "Proxima Nova", sans-serif;
}


// title
.title-container {
  height: 30vh;
  display: grid;
  grid-template-columns: [start] 2fr [logo-start] 15fr [rubrics-start] 55fr [rubrics-end] 2fr [end];
  @media(max-width: 800px){
    display: block;
  }
}

.note-source {
  display: grid;
  grid-template-columns: [start] 2fr [logo-start] 15fr [rubrics-start] 55fr [rubrics-end] 2fr [end];

  p {
    grid-column: rubrics-start/rubrics-end;
  }
}

#title {
  height: 100%;
  
  grid-column-start: rubrics-start;
  display: flex;
  @media(max-width: 800px){
    margin-top: 50px;
    padding-left: 5%;
  }
}

#title h1 {
  margin: auto 0;
  font-size: 5vw;
  font-weight: bold;
  @media(max-width: 800px){
    font-size: 40px;
  }
}


//general
.item-container {
  display: grid;
  grid-template-columns: [start] 2fr 
                          [logo-start] 15fr 
                          [text-start] 20fr 
                          [small-gap] 5fr 
                          [text-end] 15fr 
                          [image-start] 15fr 
                          [odd-space] 2fr 
                          [end];
  width: 100%;
  margin-bottom: 50px;
  @media(max-width: 800px){
    padding: 0 20px;
    display: block;
  }


  h2 { 
    margin-top:0;
    font-size: 30px; 
  }
  h2 span { color: #ed6746; } 

  img {  
    max-width: 300px; 
    width: 90%;
    margin: 20px 0;
  }
  p {
    width: 90%;
    font-size: 18px;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}

.number {
  font-size: 100px !important;
  font-weight: bold;
  font-style: italic;
  color: white;
  stroke: 1px solid black;
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
  -webkit-text-stroke: 1px gray;
  margin-top:-20px;
  @media(max-width: 800px){
    text-align: left;
  }
}



// odd items
.left-aligned {
  .number { grid-column: logo-start/text-start;}
  h2 { grid-column: text-start/text-end;}
  img { grid-column: text-end/odd-space; grid-row: 2/3; }  
  p { grid-column:  text-start/text-end; grid-row: 2/3; }
}


.right-aligned {
  .number { grid-column: text-start/small-gap; }
  h2 { grid-column: small-gap/odd-space; }
  img { grid-column: text-start/small-gap;  }  
  p { grid-column:  small-gap/odd-space; }
}


